<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Product Recommendations</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>

  <div class="container">
    <h1>Please select one or more products:</h1>
  </div>

  <!--This form displays the product images and returns user selections to the backend.-->
  <form method="POST" action="{{ url_for('output')}}">

    <ul>
      {% for i in imgs %}

      <li>
        <input type="checkbox" name="selected_imgs" id="{{i['id']}}" value="{{i['public_id']}}" />
        <label for="{{i['id']}}"><img src="{{i['url']}}" /></label>
      </li>

      {% endfor %}
    </ul>

    <button type="submit">Submit</button>
  </form>

</body>

</html>