<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Product Recommendations</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <style>
      h1{
      margin-left:40px;
      
    }
     
button{
  
  margin-left:40px;

      }
    </style>
    </head>
    <body>
<div>
    <div><h1>{{msg}}</h1></div>
    <ul>
        {% for p in recommendations %}
        
        <li>
          <img src="{{p}}">
        </li>

        {% endfor %}
    </ul>
</div>
<form method="GET"  action="{{ url_for('index')}}">
    <button type="submit">Choose Products</button>
</form>
    </body>
    </html>